body { display: flex; flex-wrap: wrap; font-family: sans; background: #ffffee;}
article { flex-basis: 100%;}
header { flex-basis: 100%; flex-shrink: 0; }
nav a, header a { text-decoration: none ; color: inherit; }
header h1 span { margin-left: 1em; font-size: 50%; font-style: italic; }

nav ul { display: flex; flex-direction: column; list-style-type: none; list-style-position: outside; padding-left: 0;  }
nav li ul { padding-left: 0.6em }

body { margin:0; padding: 0; font: 13px/1.231 arial, helvetica, clean, sans-serif; }
a { text-decoration: none;}
hr {width: 90%; border: none; border-top: 1px solid #D9BFB7; height: 0;}

header {padding-bottom: 0.1em;}
header nav { background-color: #f0e0d6; display:block; justify-content: space-between; align-items: center; color: #800000; padding: 0.2em; font-size: 9pt; border-bottom: 0.2em solid #d9bfb7; }
header a {color: #830706;}
header a:hover { text-decoration: none; }

article {justify-content: center; align-items: center; text-align: center; width: 150px; margin: 0 auto;}
article h1, article h2 { color: #004a99; font-weight: bold; font-style: italic;}

/* main text */
article a { color: #0303ee; }
article a:hover {color: #ce1a0d;}
#random-banner {margin-top: 0px; border: solid 0.05em;}
#attachment {border: solid 0.1em #880000; background-color: white;}
#title {font-family: Tahoma, sans-serif; font-size: 28px; letter-spacing: -2px; align-items: center; font-weight: bold; text-align: center; color: #800000; gap: 0;}

section {justify-content: center; align-items: center; text-align: left; border: 1px solid #800000; background: #ffffff; margin-left: auto; margin-right: auto; width: 70%;}
section h2 {font-size: 16px; font-style: normal; margin: 0; padding: 4px 8px; border-bottom: 1px solid #800000; background: #ffccaa; color: #800000;}
section div {padding: 4px; background: #ffffff;}

table { border-collapse: collapse; display: flex; padding: 0; justify-content: center; width: 90%; margin: 25px auto 0 auto;}
th {color: #880000; padding-left: 2em; padding-right: 2em;}
#col-title { background-color: #ffccaa; border: solid 0.1em #880000;}
#col-elements {background-color: #ffffff; border: solid 0.1em #880000;}
